<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>

	<connectionStrings>
		<add name="cnnPath" connectionString="Data Source=devlopmentSQL101; Initial Catalog=TimeStampDatabase; Integrated Security=SSPI;" providerName="System.Data.SqlClient" />
	</connectionStrings>

	<appSettings>
		<add key="FilePath" value=""/>
	</appSettings>
	
</configuration>